.explanation {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}

.explanation-title {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 7px;

  font-size: 10px;
  font-weight: 700;
  color: #555555;
}

.info-icon {
  font-size: 10px;
  color: #a51f3b;
}

.explanation p {
  margin: 0;

  font-size: 8px;
  line-height: 1.5;
  color: #888888;
}

.explanation strong {
  color: #666666;
  font-weight: 600;
}