<div class="general-information">

    <div class="total-book">
        <div class="icon1">
            📖
        </div>

        <div class="information">
            <strong>104.589</strong>
            <span>Toplam<br>Kitap</span>
        </div>
    </div>
   

    <div class="member">
        <div class="icon2">
            🧑‍💻
        </div>

        <div class="information">
            <strong>697</strong>
            <span>Üye</span>
        </div>
    </div>


    <div class="on-loan">
        <div class="icon3">
            📚
        </div>

        <div class="information">
            <strong>293</strong>
            <span>Ödünçte</span>
        </div>
    </div>


    <div class="shelf">
        <div class="icon4">
            🏛️
        </div>

        <div class="information">
            <strong>1</strong>
            <span>Raf</span>
        </div>
    </div>

</div>