<div class="banner">
    <div class="picture" alt="Üniversite logo">
        <div class="writing">
              <h2 class="hi"> Merhaba 👋 <br>Kütüphaneye <br>Hoş Geldin </h2>
              <h5 class="fareword"> Bilgiye açılan kapı, geleceğine ışık tutar.</h5>
        </div>
    </div>
    <div class="search">

        <span class="search-icon">⌕</span>

        <input
            type="text"
            placeholder="Kitap, yazar, konu ara..."
        >

        <button class="search-button">
            🔍
        </button>

    </div>
</div>