<div class="book-presentation">

  <div class="book-presentation-image">
    <img [src]="kitap.coverImage" [alt]="kitap.title">
  </div>

  <div class="book-presentation-text">

    <h2>{{ kitap.title }}</h2>

    <p class="authors">
      {{ kitap.authors.join(', ') }}
    </p>

    <p class="book-year">
      {{ kitap.year }} • {{ kitap.language }} • {{ kitap.edition }}
    </p>

    <div class="book-status">
      <span>
        ✓ {{ kitap.availability.availableCount }} Lokasyonda Mevcut
      </span>
    </div>

  </div>

</div>