<div class="quick-access">

    <div class="quick-access-title">
        <h3>Hızlı Erişim</h3>

        <span>Tümünü Gör ›</span>
    </div>


    <div class="quick-access-items">

        <div class="quick-access-new">

            <div class="quick-access-new-icon">
                🖼️
            </div>

            <span>
                Yeni<br>
                Gelenler
            </span>

        </div>


        <div class="quick-acces-popular">

            <div class="quick-access-popular-icon">
                ❤️
            </div>

            <span>
                Popüler<br>
                Kitaplar
            </span>

        </div>


        <div class="quick-access-suggestions">

            <div class="quick-access-suggestions-icon">
                ⭐
            </div>

            <span>
                Önerilenler
            </span>

        </div>

    </div>

</div>