<div class="footer">

    <div class="footer-1" routerLink="/">
        <div class="footer-1-icon">
            🏠
        </div>

        <span class="footer-1-text">
            Ana Sayfa
        </span>
    </div>


    <div class="footer-2" routerLink="/catalog">
        <div class="footer-2-icon">
            📖
        </div>

        <span class="footer-2-text">
            Katalog
        </span>
    </div>


    <div class="footer-3" routerLink="/map">
        <div class="footer-3-icon">
            🗺
        </div>

        <span class="footer-3-text">
            Harita
        </span>
    </div>


    <div class="footer-4" routerLink="/profile">
        <div class="footer-4-icon">
            👤
        </div>

        <span class="footer-4-text">
            Profil
        </span>
    </div>

</div>